<section class="px-12 flex flex-col gap-8 mb-12">
  <div class="flex flex-col gap-4">
    <h2 class="text-3xl text-neutral-100 text-center">
      Da Acessibilidade à
      <span class="font-bold primary-color">Inovação Digital</span> Vamos fazer
      <span class="font-bold primary-color">acontecer?</span>
    </h2>
    <h4 class="text-lg text-neutral-100 text-center">
      Disponível para vagas full-time, estágios e projetos com impacto social.
    </h4>
  </div>
  <div class="flex flex-col items-center justify-center gap-4">
    <a
      href="mailto:aninha_paulaperez@hotmail.com"
      target="_blank"
      class="w-2xs cta-button primary-background"
      ><img class="w-8" src="assets/icons/mail-white.svg" /><span
        >Vamos Conversar</span
      >
    </a>
    <!-- <a
      href="https://www.instagram.com/aninhapaulaperez?igsh=MTFjMTgwdHk3ejl6Mg=="
      target="_blank"
      class="w-2xs cta-button primary-background"
      ><img class="w-8" src="assets/icons/instagram-white.svg" /><span
        >Mais sobre mim</span
      >
    </a> -->
  </div>
  <social-links [socialLinks]="socialList" />
</section>
