<section class="p-12 flex flex-col gap-4">
  <h2 class="text-3xl text-neutral-100 text-center">
    Da Acessibilidade à
    <span class="font-bold primary-color">Inovação Digital</span> Vamos fazer
    <span class="font-bold primary-color">acontecer?</span>
  </h2>
  <h4 class="text-lg text-neutral-100 text-center">
    Disponível para vagas full-time, estágios e projetos com impacto social.
  </h4>
  <div class="flex gap-4">
    <p-button label="Vamos Conversar"></p-button>
    <p-button label="Mais sobre mim"></p-button>
  </div>
  <social-links [socialLinks]="socialList" />
</section>
