.hero-card {
  background: #272325bb;
  border-radius: 16px;
  border: 1px solid #727272;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
}

.card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: top;
  border-radius: 16px;
  background: #727272;
}

.hero-icon {
  width: 2rem;
  height: 2rem;
}

.element {
  border-radius: 1rem;
  box-shadow: 0 0 250px 332px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 20rem;
  left: 5rem;
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .element {
    left: 0rem;
    top: 10rem;
  }
}
