<p-carousel
  [value]="items"
  [numVisible]="3"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template let-item #item>
    <div
      [id]="item.name"
      class="bg-transparent flex items-center justify-center p-4 rounded-lg w-16 cursor-pointer transition-all"
      [ngClass]="{
      'bg-violet-600 text-white': selectedItemName === item.name,
      'hover:bg-violet-200': selectedItemName !== item.name
    }"
      (click)="updateContent(item)"
    >
      <img class="w-8" [src]="item.image" alt="{{ item.name }}" />
    </div>
  </ng-template>
</p-carousel>

<div class="card-experience">
  <div class="flex flex-col gap-4 p-7">
    <h3 class="text-3xl text-neutral-100 font-semibold">
      {{ selectedItemName }}
    </h3>
    <p class="text-xl text-neutral-100">{{ selectedItemDescription}}</p>
  </div>
  <div class="project-stack">
    @for(item of selectedItemReferences;track item){<span class="badge"
      >{{ item }}</span
    >}
  </div>
  <div #editorHost class=""></div>
</div>
