@import "tailwindcss";
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
li {
  list-style: none;
}
body {
  overflow-x: hidden;
  background: #121012;
  background: linear-gradient(135deg, #121012 0%, #160214 100%);
}

.primary-color {
  color: #ef5ced;
}
.primary-background {
  background-color: #ef5ced;
}

.noise {
  position: fixed;
  z-index: -1;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  background-image: url(assets/img/noise.webp);
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.05;
  pointer-events: none;
}
