<section
  [attr.id]="id"
  class="flex flex-col items-center gap-8 mt-4 p-8 md:p-12 lg:w-full xl:px-64"
>
  <div>
    <h2 class="text-4xl xl:text-5xl text-neutral-100 font-semibold text-center">
      {{experienceDetails.title}}
      <span class="primary-color font-black"
        >{{experienceDetails.highlight}}</span
      >
    </h2>
    <p class="text-neutral-400 text-xl text-center mt-4">
      {{experienceDetails.description}}
    </p>
  </div>

  <experience-carousel />
  <span class="element"></span>
</section>
